* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: darkgreen;
	--secondary-color: tomato;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
a {
	color: inherit;
}

h1,
h2 {
	padding-block: 1rem;
}

p {
	margin-block: 0.5rem;
}

input {
	font-family: inherit;
	color: inherit;
	background: none;
	font-size: inherit;
	border: 0.1rem solid gray;
	padding: 0.2rem;
}

button {
	font-family: inherit;
	color: inherit;
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button {
	background-color: var(--primary-color);
	color: white;
	padding: 0.2rem 0.4rem;
}
