* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: darkgreen;
	--secondary-color: rgb(207, 47, 47);
	--light-color: #eee;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

a {
	color: inherit;
	text-underline-offset: 0.1rem;
}

h1 {
	padding-block: 1rem;
	font-weight: 500;
}

h2 {
	font-weight: 500;
	padding-block: 0.5rem;
}

h1,
h2 {
	line-height: 1.2;
}

p {
	margin-block: 0.5rem;
}

input {
	font-family: inherit;
	color: inherit;
	background: none;
	font-size: inherit;
	border: 0.1rem solid gray;
	padding: 0.2rem;
	outline: none;
	background-color: #fff;
	max-width: 100%;
}

input:focus {
	border-color: var(--primary-color);
}

input:focus:invalid {
	border-color: var(--secondary-color);
}

button {
	font-family: inherit;
	color: inherit;
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
	white-space: nowrap;
}

button:disabled {
	opacity: 0.5;
	cursor: initial;
}

button:focus-visible {
	outline-offset: 0.2rem;
}

.button {
	background-color: var(--primary-color);
	color: white;
	padding: 0.3rem 0.5rem;
}

button.danger {
	background-color: var(--secondary-color);
}

label {
	display: block;
}
