* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: darkgreen;
	--secondary-color: rgb(207, 47, 47);
	--light-color: #eee;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
a {
	color: inherit;
}

h1 {
	padding-block: 1rem;
}

p {
	margin-block: 0.5rem;
}

input {
	font-family: inherit;
	color: inherit;
	background: none;
	font-size: inherit;
	border: 0.1rem solid gray;
	padding: 0.2rem;
	outline: none;
	background-color: #fff;
}

input:focus {
	border-color: var(--primary-color);
}

input:focus:invalid {
	border-color: var(--secondary-color);
}

button {
	font-family: inherit;
	color: inherit;
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
	white-space: nowrap;
}

button:disabled {
	opacity: 0.5;
	cursor: initial;
}

.button {
	background-color: var(--primary-color);
	color: white;
	padding: 0.3rem 0.5rem;
	border-radius: 0.25rem;
}

button.danger {
	background-color: var(--secondary-color);
}

label {
	display: block;
}
